@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 9999;
}

#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #40c3ff;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}
#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #2090c3;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #fff;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 40px 100px;
  z-index: 10000;
  transition: 0.6s;
}
header .logo {
  position: relative;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.6s;
}
header #toggle {
  position: relative;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
header #toggle:before {
  content: "";
  position: absolute;
  top: 7px;
  width: 100%;
  height: 2px;
  background: #fff;
}
header #toggle:after {
  content: "";
  position: absolute;
  bottom: 7px;
  width: 100%;
  height: 2px;
  background: #fff;
}
.banner.active header #toggle:before {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}
.banner.active header #toggle:after {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}
.banner {
  position: relative;
  width: 100%;
  padding: 100px;
  min-height: 100vh;
  background: url(workbg2.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
  z-index: 2;
}
.banner.active {
  transform: translateX(-400px);
}
#navigation {
  position: fixed;
  top: 0;
  right: -200px;
  width: 400px;
  height: 100vh;
  background: #40c3ff;
  z-index: 1;
  display: grid;
  place-items: center;
  transition: 0.5s;
}
#navigation.active {
  right: 0;
}
#navigation ul {
  position: relative;
  display: flex;
  flex-direction: column;
}
#navigation ul li {
  list-style: none;
}
#navigation ul li a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  font-size: 2em;
  font-weight: 600;
  text-transform: uppercase;
}

@media (max-width: 767px) {
  header {
    padding: 20px 50px;
  }
  .banner {
    padding: 100px 50px 150px;
  }
  .banner h2 {
    font-size: 1.8em;
  }
  .banner .content p,
  .banner .content a {
    font-size: 1em;
  }
  .banner.active {
    transform: translateX(-250px);
  }
  #navigation {
    width: 250px;
  }
  #navigation ul li a {
    font-size: 1.5em;
    margin: 5px 0;
  }
}

.timeline {
  position: relative;
  margin: 50px auto;
  padding: 40px 0;
  width: 1000px;
  box-sizing: border-box;
}
.timeline:before {
  content: "";
  position: absolute;
  left: 50%;
  width: 2px;
  height: 100%;
  background: #fff;
}
.timeline ul {
  padding: 0;
  margin: 0;
}
.timeline ul li {
  list-style: none;
  position: relative;
  width: 50%;
  padding: 20px 40px;
  box-sizing: border-box;
}
.timeline ul li:nth-child(odd) {
  float: left;
  text-align: right;
  clear: both;
}
.timeline ul li:nth-child(even) {
  float: right;
  text-align: left;
  clear: both;
}
.content {
  padding-bottom: 20px;
}
.timeline ul li:nth-child(odd):before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  top: 24px;
  right: -6px;
  background: #40c3ff;
  border-radius: 50%;
  box-shadow: 0 0 0 3px rgba(20, 93, 211, 0.2);
}
.timeline ul li:nth-child(even):before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  top: 24px;
  left: -4px;
  background: #40c3ff;
  border-radius: 50%;
  box-shadow: 0 0 0 3px rgba(20, 93, 211, 0.2);
}
.timeline ul li h3 {
  padding: 0;
  margin: 0;
  color: #40c3ff;
  font-weight: 600;
  font-size: 2em;
}
.timeline ul li p {
  margin: 10px 0 0;
  padding: 0;
  color: #fff;
  font-size: 1.25em;
}
.timeline ul li .time h4 {
  margin: 0;
  padding: 0;
  font-size: 14px;
}
.timeline ul li:nth-child(odd) .time {
  position: absolute;
  top: 12px;
  right: -165px;
  margin: 0;
  padding: 8px 16px;
  background: #299bcf;
  color: #fff;
  border-radius: 18px;
  box-shadow: 0 0 0 3px rgba(20, 93, 211, 0.2);
}
.timeline ul li:nth-child(even) .time {
  position: absolute;
  top: 12px;
  left: -165px;
  margin: 0;
  padding: 8px 16px;
  background: #299bcf;
  color: #fff;
  border-radius: 18px;
  box-shadow: 0 0 0 3px rgba(20, 93, 211, 0.2);
}
@media (max-width: 1000px) {
  .timeline {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .timeline {
    width: 100%;
    padding-bottom: 0;
  }
  h1 {
    font-size: 40px;
    text-align: center;
  }
  .timeline:before {
    left: 20px;
    height: 100%;
  }
  .timeline ul li:nth-child(odd),
  .timeline ul li:nth-child(even) {
    width: 100%;
    text-align: left;
    padding-left: 50px;
    padding-bottom: 50px;
  }
  .timeline ul li:nth-child(odd):before,
  .timeline ul li:nth-child(even):before {
    top: -18px;
    left: 16px;
  }
  .timeline ul li:nth-child(odd) .time,
  .timeline ul li:nth-child(even) .time {
    top: -30px;
    left: 50px;
    right: inherit;
  }
}
